.One {
  width: 250px;
  height: 90px;
  font-size: 30px;
  padding: 10px;
  color: black;
  font-family: 'Share', cursive;
  border-radius: 15px;
  background: rgb(255,255,255,0.7);
  box-shadow: 3px 3px 10px black;
  text-decoration: none;


}

.One:hover {
  cursor: pointer;
  color: black;
  background: rgb(255,165,0,0.5);
  box-shadow: 5px 5px 10px black;
}

.One:active {
  background: rgb(255,255,255,0.7);
  box-shadow: 3px 3px 10px black;

}

.buttonone {
  text-align: center;
}
