.One {
  width: 250px;
  height: 90px;
  font-size: 30px;
  padding: 10px;
  font-family: monospace;
  border-radius: 15px;
  background:  rgb(51, 204, 255, 0.3);
  box-shadow: 3px 3px 10px;
  text-decoration: none;
  

}

.One:hover {
  cursor: pointer;
  background:  rgb(51, 204, 255, 0.5);
  box-shadow: 5px 5px 10px;
}
