.Summary p {
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  color: black;
  background:  rgb(51, 204, 255, 0.1);
  box-shadow: 3px 3px 10px black;
  font-family: verdana;
  font-size: 22px;
}

.Summary nav {
  padding: 5px;
  margin-top: 10px;

}
