

.App {
height: 100%;
margin: 0;
padding: 0;

}

.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background: #163178;

}

.App li {
  display: inline-block;
  margin: 20px;
}

.App a {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 20px;
}

.App a:hover {
  color: orange;
}
.App h1 {
  text-align: center;
  width: 100%;
  font-family: cursive;
  font-size: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.App h2 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.Providers {
  text-align: center;
  width: 100%;
  
}
